body {
	background-color: #102F40;
}

h1 {
	position: relative;
    font-family: mono;
    color: #102F40;
    top: 40%;
    font-size: 5vh;
}

h3 {
	position: relative;
    font-family: mono;
    color: #102F40;
    top: -35%;
    font-size: 2vh;
}

.activate {
	animation: slide 1s;
	-webkit-animation-fill-mode: forwards;
}

.deactivate {
	animation: slideback 1s;
	-webkit-animation-fill-mode: forwards;
}

a {
	position: relative;
	text-decoration: none;
	font-family: mono;
    color: #102F40;
    font-size: 5vh;
    top: 1.5vh;
}

h2 {
	position: relative;
    font-family: omnic;
    color: #102F40;
    top: 10vh;
    font-size: 10vh;
}

h2:hover {
	position: relative;
    font-family: omnic;
    color: white;
    top: 10vh;
    font-size: 10vh;
}


#container {
	background-color: #FF4A7A;
	position: relative;
	width: 50vh;
	height: 50vh;
	top: 25vh;
	z-index: 2;
}

#container2 {
	background-color: #E6619F;
	position: relative;
	width: 50vh;
	height: 10vh;
	top: -25vh;
	z-index: 1;
	border-top-right-radius: 100vh;
	border-bottom-right-radius: 100vh;
}

#containerspot {
	background-color: transparent;
	position: relative;
	width: 50vh;
	height: 10vh;
	top: -25vh;
	z-index: 1;
}

@font-face {
    font-family: anyk;
    src: url(anyk.ttf);
}

@font-face {
    font-family: omnic;
    src: url(OmnicSans.ttf);
}

@font-face {
    font-family: mono;
    src: url(mono.ttf);
}


@keyframes slide {
0% {
   transform: translateX(0%);
  }
  100% {
   transform: translateX(-99%);
  }
}

@keyframes slideback {
0% {
   transform: translateX(0%);
  }
  100% {
   transform: translateX(99%);
  }
}


/* Romzelize 2017 - onwards */
